.header {
  max-width: 1200px;
  width: 100%;
  box-sizing: border-box;
  padding: 18px 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

.logo {
  width: 38px;
  height: 38px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top 0 left 0;
  background-image: url('../../images/logo.svg');
}

.header__auth {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.header__link {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #fff;
  align-self: center;
  text-decoration: none;
  padding: 0 0 0 30px;
  margin: 0;
}

.header__button {
  padding: 8px 20px;
  font-weight: 500;
  line-height: 16px;
  text-decoration: none;
  margin: 0 0 0 30px;
}

.header__button_color_green {
  background-color: #3DDC84;
  border-radius: 3px;
  font-size: 12px;
  color: #000;
}

.header__button_color_grey {
  background-color: #313131;
  border-radius: 20px;
  font-size: 14px;
  color: #fff;
}

.header__nav {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

.header__nav-link{
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #FFFFFF;
  align-self: center;
  text-decoration: none;
  padding: 0 0 0 16px;
  margin: 0;
}

.header__nav-link_action {
  font-weight: 500;
}

.burger {
  display: none;
  padding-right: 3px;
  width: 38px;
  height: 38px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top 0 left 0;
  background-color: rgba(0, 0, 0, 0);
  background-image: url('../../images/burger-open.svg');
  box-shadow: none;
  border: 0;
}

@media screen and (max-width: 768px) {
  .burger {
   display: block;
  }

  .header__nav {
    display: none;
  }

  .header__auth {
    display: none;
  }

  .header__auth_activ {
    display: flex;
  }
}

@media screen and (max-width: 520px) {
  .header {
   max-width: 488px;
   padding: 18px 14px;
  }
}
