.burger-popup {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  right: -520px;
  width: 1288px;
  height: 100%;
  background-color: rgba(0, 0, 0, .3);
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  transition:opacity 0s .5s ease, transform .5s ease, visibility .5s;
  z-index: 2;
}

.burger-popup_opened {
  visibility: visible;
  opacity: 1;
  transition: opacity 0s ease, transform .5s ease, visibility 0s;
  transform: translateX(-520px);
}

.burger-popup__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 520px;
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  background-color: #202020;
  position: relative;
  padding: 159px 0 90px;
}


.burger-popup__close {
  width: 32px;
  aspect-ratio: 1;
  position: absolute;
  top: 22px;
  right: 22px;
  background-image: url('../../images/burger-close.svg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0);
  box-shadow: none;
  border: 0;
}

.burger-popup__nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.burger-popup__nav-li {
  padding-bottom: 28px;
}

.burger-popup__nav-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

.burger-popup__nav-link_action{
  position: relative;
}

.burger-popup__nav-link_action::after {
  content: '';
  position: absolute;
  border: 1px #fff solid;
  top: 26px;
  left: 0px;
  width: 100%;
}

.burger-popup__auth {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.burger-popup__button {
  padding: 8px 20px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
  text-decoration: none;
  margin-top: 28px;
  background-color: #313131;
  border-radius: 20px;
}

@media screen and (max-width: 520px) {
  .burger-popup {
    top: -100vh;
    right: 0;
    width: 100vw;
    height: 100vh;
    opacity: 1;
    transition: transform .5s ease, visibility .5s;
  }

  .burger-popup_opened {
    transition: transform .5s ease, visibility 0s;
    transform: translateY(100vh);
  }

  .burger-popup__container {
    padding: 144px 10px 46px;
  }

  .burger-popup__close {
    top: 13px;
    right: 13px;
  }

  .burger-popup__nav-li {
    padding-bottom: 24px;
  }

  .burger-popup__nav-link_action::after {
    top: 29px;
  }
}
