@import url('./vendor/normalize.css');

@import url('./vendor/fonts/fonts.css');

.page {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #fff;
  background-color: #202020;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
}

.button-hover {
  transition: opacity .3s ease;
}

.button-hover:hover {
  opacity: .6;
  cursor: pointer;
}
